.PaymentLayout {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  height: auto;
}
.container {
  display: flex;
  gap: 80px;
  padding: 40px;
}
.h1_div {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}
.h1_div img {
  width: 200px;
  height: 50px;
}

.Divdetalle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.Divdetalle h1 {

  padding-left: 8px;
  font-size: 16px;
  color:#0061DF;
  font-weight: 600;
  padding-bottom: 20px;
}

.detalle {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 300px;
}

.divBeneficios {
  width: 300px;
  height: auto;
  padding: 20px;
  box-shadow: 0px 10px 50px rgba(13, 38, 59, 0.1);
  align-content: flex-start;
  border-radius: 10.6667px;
}
.divBeneficios h1{
  font-size: 16px;
  color:#0061DF;
  font-weight: 600;
  padding-bottom: 20px;
}
.containerMetodoPago {
  width: 100%;
  padding-left: 70px;
}

.containerMetodoPago h1 {
  font-size: 16px;
  color:#2c2d2e;
  font-weight: 600;
  padding-bottom: 24px;
}

@media (max-width: 700px) {
  .container {
flex-direction: column-reverse;
align-items: center;
justify-content: center;
  }
  .containerMetodoPago {
    flex-direction: column;
align-items: center;
justify-content: center;
  }
}
