.container {
  display: flex;
  position: relative;
  justify-content: center;
}
.img {
  object-fit: cover;
  z-index: 1;
}
.landingText {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 30%;
  z-index: 2;
  align-items: center;
}
.h1 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  font-family: Poppins;
}
.p {
  color: #fff;
  font-size: 20px;
}

.contentHome {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  background: #ffff;
  width: 100%;
  height: 80vh;
}
.LayoutContent {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: #0d263b;
}

.CardContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.212));
  border-radius: 3px;
  border: none;
  flex-direction: column;
  padding-top: 20px;
  height: 300px;
  width: 320px;
}
.CardContainer h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #0d263b;
}

.CardContainer p {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #0d263b;
}

@media (max-width: 800px) {
  .landingText {
    top: 30%;
  }
  .h1 {
    font-size: 25px;
  }
  .CardContainer h1 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .landingText {
    top: 50px;
  }

  .h1 {
    font-size: 16px;
  }
  .p {
    font-size: 14px;
  }
  .CardContainer h1 {
    font-size: 14px;
  }
  .CardContainer p {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
    .LayoutContent{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .title{
        font-size: 16px;
    }
    .CardContainer{
      height: 100px;
      justify-content: center;
    }
    .CardContainer{
     flex-direction: column;
    }
    .CardContainer h1 {
        font-size: 12px;
      }
      .CardContainer p {
        font-size: 10px;
      }
}