.filtros_container{
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 60%;
    height: 80px;
    background: #fff;
}

.container_select{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
padding: 10px;
}

.container_select label{
    font-size:13px ;
    color: #000000c9;
}
.container_select p{
    font-size: 12px;
    color: #0D263B;
    font-weight: 700;
    text-transform: uppercase;
}
.masFiltros p {
    font-size: 12px;
    font-weight: 500;
    text-transform:none;
}
.filtros_container button{
    font-size:13px ;
    color: #fff;
    text-transform: uppercase;
    background: #CC5040;
    height: 40px;
    width: 100px;
}

.masFiltros{
    display: flex;
    /* align-items: center; */
   gap: 20px;
    flex-direction: row;
}

.masFiltros p{
    font-size: 13px;
}

/* .container_button{
    padding: 10px;
} */